<form
  class="loginForm"
  #resetForm="ngForm"
  (ngSubmit)="resetPassword()"
  novalidate
>
  @if (loginService.showTenant()) {
    <c8y-form-group
      class="tenantField"
      id="tenantField"
    >
      <label translate>Tenant ID</label>
      <input
        class="form-control"
        placeholder="{{ 'Tenant ID' | translate }}"
        name="tenantId"
        type="text"
        required
        [(ngModel)]="model.tenantId"
        #tenantId="ngModel"
        autocapitalize="off"
        autocorrect="off"
      />
    </c8y-form-group>
  }

  <c8y-form-group>
    <label translate>Email address</label>
    <input
      class="form-control"
      placeholder="{{ 'Email address' | translate }}"
      name="email"
      type="text"
      required
      [(ngModel)]="model.email"
      #email="ngModel"
      autocapitalize="off"
      autocorrect="off"
      email
    />
  </c8y-form-group>

  <div class="m-t-32">
    <button
      class="btn btn-primary btn-lg btn-block form-group"
      title="{{ 'Reset password' | translate }}"
      type="submit"
      [disabled]="!resetForm.form.valid || isLoading"
    >
      {{ 'Reset password' | translate }}
    </button>
    <div class="text-center m-t-8">
      <button
        class="btn btn-link btn-sm"
        title="{{ 'Login' | translate }}"
        type="submit"
        (click)="onChangeView.emit({ view: LOGIN_VIEWS.Credentials })"
      >
        {{ 'Login' | translate }}
      </button>
    </div>
  </div>
</form>
