<form #resetForm="ngForm" class="loginForm" (ngSubmit)="resetPassword()" novalidate>
  <c8y-form-group class="tenantField" id="tenantField" *ngIf="loginService.showTenant()">
    <label translate>Tenant ID</label>
    <input
      [(ngModel)]="model.tenantId"
      #tenantId="ngModel"
      type="text"
      name="tenantId"
      autocapitalize="off"
      autocorrect="off"
      class="form-control"
      placeholder="{{ 'Tenant ID' | translate }}"
      required
    />
  </c8y-form-group>

  <c8y-form-group>
    <label translate>Email address</label>
    <input
      [(ngModel)]="model.email"
      #email="ngModel"
      type="text"
      name="email"
      autocapitalize="off"
      autocorrect="off"
      class="form-control"
      placeholder="{{ 'Email address' | translate }}"
      email
      required
    />
  </c8y-form-group>

  <div class="m-t-32">
    <button
      title="{{ 'Reset password' | translate }}"
      [disabled]="!resetForm.form.valid || isLoading"
      type="submit"
      class="btn btn-primary btn-lg btn-block form-group"
    >
      {{ 'Reset password' | translate }}
    </button>
    <div class="text-center m-t-8">
      <button
        type="submit"
        title="{{ 'Login' | translate }}"
        class="btn btn-link btn-sm"
        (click)="onChangeView.emit({ view: LOGIN_VIEWS.Credentials })"
      >
        {{ 'Login' | translate }}
      </button>
    </div>
  </div>
</form>
