<form
  class="loginForm"
  #twoFactorForm="ngForm"
  (ngSubmit)="verifyTFACode()"
  novalidate
>
  <div
    class="legend form-block center"
    translate
  >
    Two-factor authentication
  </div>

  <c8y-form-group>
    <label translate>Verification code</label>
    <input
      class="form-control"
      placeholder="{{ 'e.g.' | translate }} 624327"
      name="sms_token"
      type="text"
      autofocus
      required
      [(ngModel)]="model.smsToken"
      #sms_token="ngModel"
      autocapitalize="off"
      autocorrect="off"
    />
    @if (!twoFactorForm.form.valid || isLoading) {
      <p
        class="help-block"
        translate
      >
        Insert the code received via SMS.
      </p>
    }
  </c8y-form-group>

  <button
    class="btn btn-primary btn-lg btn-block form-group"
    title="{{ 'Verify' | translate }}"
    [disabled]="!twoFactorForm.form.valid || isLoading"
  >
    {{ 'Verify' | translate }}
  </button>

  <div class="d-flex m-t-8 j-c-center">
    <button
      class="btn btn-link btn-sm"
      title="{{ 'Send new code' | translate }}"
      type="button"
      [ngClass]="{ disabled: isLoading }"
      (click)="resendTFASms()"
    >
      {{ 'Send new code' | translate }}
    </button>
    <button
      class="btn btn-link btn-sm"
      title="{{ 'Log in' | translate }}"
      type="button"
      (click)="onCancel.emit()"
    >
      {{ 'Log in' | translate }}
    </button>
  </div>
</form>
