<form
  class="loginForm"
  (ngSubmit)="changePassword()"
  #changePasswordForm="ngForm"
  novalidate
>
  <div
    class="legend form-block center"
    translate
  >
    Change password
  </div>

  @if (loginService.showTenant()) {
    <c8y-form-group
      class="tenantField"
      id="tenantField"
    >
      <label translate>Tenant ID</label>
      <input
        class="form-control"
        placeholder="{{ 'Tenant ID' | translate }}"
        name="tenantId"
        type="text"
        required
        [(ngModel)]="model.tenantId"
        #tenantId="ngModel"
        autocapitalize="off"
        autocorrect="off"
      />
    </c8y-form-group>
  }

  <c8y-form-group>
    <label translate>Email address</label>
    <input
      class="form-control"
      placeholder="{{ 'Email address' | translate }}"
      name="email"
      type="text"
      required
      [(ngModel)]="model.email"
      #email="ngModel"
      autocapitalize="off"
      autocorrect="off"
      email
      [readonly]="emailReadOnly"
    />
  </c8y-form-group>

  <div class="row content-flex-50">
    <div class="col-6">
      <c8y-form-group>
        <label translate>New password</label>
        <input
          class="form-control"
          placeholder="{{ 'New password' | translate }}"
          name="newPassword"
          type="password"
          autocomplete="new-password"
          required
          [(ngModel)]="model.newPassword"
          #newPassword="ngModel"
          c8yPasswordValidation
          [passwordStrengthEnforced]="passwordStrengthEnforced"
          [minLength]="effectiveMinLength"
          (input)="newPasswordConfirm.control.updateValueAndValidity()"
        />
        <c8y-messages>
          <c8y-message
            name="passwordStrengthChecklist"
            [text]="'Password is not strong enough, check the requirements below.' | translate"
          ></c8y-message>
        </c8y-messages>
      </c8y-form-group>

      <c8y-form-group>
        <label translate>Confirm password</label>
        <input
          class="form-control"
          placeholder="{{ 'Confirm password' | translate }}"
          name="newPasswordConfirm"
          type="password"
          autocomplete="new-password"
          required
          [(ngModel)]="model.newPasswordConfirm"
          #newPasswordConfirm="ngModel"
          passwordConfirm="newPassword"
        />
        <c8y-messages>
          <c8y-message
            name="passwordConfirm"
            [text]="loginService.ERROR_MESSAGES.passwordConfirm"
          ></c8y-message>
        </c8y-messages>
      </c8y-form-group>
    </div>
    <div class="col-6">
      <c8y-password-check-list
        [password]="model.newPassword"
        [strengthEnforced]="passwordStrengthEnforced"
        (onRequirementsFulfilled)="updateValidity($event)"
      ></c8y-password-check-list>
    </div>
  </div>

  <button
    class="btn btn-primary btn-lg btn-block form-group"
    title="{{ 'Set password' | translate }}"
    type="submit"
    [disabled]="!changePasswordForm.form.valid || isLoading"
  >
    {{ 'Set password' | translate }}
  </button>
</form>
